@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
:root {
  --blockcolour: snow ;
  --textcolour:black;

}
h1{
 color: white;
 margin-left: 3.5%;
}
html {
  overflow-y: scroll;
}
#head{
    color: white;
    padding: 10px;
    font-weight: 900;
    font-size: 150%; 
    width: 40%;
}

body{
    background-image: url('Background.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-blend-mode: screen;
    color: var(--textcolour);
    font-family: 'Titillium Web', sans-serif; 
}

a:link {color: white;}     
a:visited {color: white;}   
a:hover {color: white;}    
a:active {color: white;}

a{
    text-decoration: none;
}

footer nav ul{
    padding: 0px;
    position:fixed;
    color: white;
    bottom:0;
    width: 23%;
    height:50px;
    text-align: center;
    word-spacing: 15px;
    border: 1px white solid;
    margin-left: 38%;
}
footer li{
    color: white;
    display: inline;

}

.about{
    background-color:  var(--blockcolour);
    color: var(--textcolour);
    padding: 13px;
    float: left;
    width: 40%;
    opacity: 0.75;
    margin-left:3.5%;
}

#nav{
    color: white;
    width: 15%;
    border: 1px white solid;
    margin-left:2%; 
    }
#nav ul{
    padding:0px ;
    list-style: none;
    word-spacing: 15px;
    text-align: center;
}
#nav li{
    display: inline;
    }
#nav a{
    color: white;
    text-decoration: none;
}

#pic {
    float: right;
    width: 15.8%;
    background:  var(--blockcolour);
    padding: 20px; 
    margin-right: 2%;
}

