@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
#head{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    font-family:monospace; 
    border-left: 10px darkred solid;

}
@font-face{


}

body{
    background-color:grey;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

a:link {color: white;}     
a:visited {color: white;}   
a:hover {color: white;}    
a:active {color: white;}

a{
text-decoration: none;
}

footer nav ul{
    position:fixed;

    margin-left:30% ;
    bottom:0;
    width: 40%;
    height:50px;  
    padding:2px 0px;
    background-color: #333;
    text-align: center;
    word-spacing: 15px;

}
footer li{
    display: inline;
}

.about{
    background-color: #333;
    color: white;
    padding: 13px;
    float: left;
    width: 77%;
}

#nav{
    color: white;
    background-color: #333;}
#nav ul{
    padding: 10px;
    list-style: none;
    word-spacing: 15px;
    text-align: center;
}
#nav li{
    display: inline;
    }
#nav a{
     color: white;
    text-decoration: none;
}

#pic {
    float: right;
    width: 15.8%;
    background: #333;
    padding: 20px; 
}

